<div class="generic-banner">
    <h3><center>Welcome to <a href="https://chy.li">chy.li</a>! If you have been redirected here, please read this <a href="https://chy.li/blog/owu.se-migration">blog post</a> for more information on what happen to owu.se</center></h3>
</div>